@model Event
<form method="post" class="border p-4 rounded">
    <div class="row mb-3 text-primary">
        <h1>Create Event</h1>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="Address" class="form-label"></label>
            <textarea asp-for="Address" class="form-control" rows="2"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="State" class="form-label"></label>
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Date" class="form-label"></label>
            <input asp-for="Date" class="form-control" type="date" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Time" class="form-label"></label>
            <input asp-for="Time" class="form-control" type="time" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <button class="btn btn-primary w-100" type="submit" asp-controller="Event" asp-action="Create">Create Event</button>
        </div>
        <div class="col-md-3">
            <a class="btn btn-outline-primary w-100" asp-controller="Event" asp-action="Index">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}